.container {
  padding: 200px 120px;
  max-width: 1920px;
}

.row {
  display: table;
  clear: both;
  width: 100%;
}

.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 69px;
  line-height: 84px;
  color: #000000;
  margin-bottom: 30px;
}

.passive-title {
  font-size: 86px;
  line-height: 104px;
}

.text {
  font-family: 'Inter';
  font-size: 23px;
  line-height: 28px;
  font-style: normal;
  letter-spacing: 1.2px;
  color: #4D4D4F;
}

.text-area {
  max-width: 1000px;
  margin: auto;
}

.btn {
  font-weight: 700;
  border: none;
  border-radius: 15px;
  padding: 16px 30px;
  font-size: 23px;
  line-height: 28px;
}

.blue-btn {
  color: #FCFCFC;
  background-color: #2A85FF;
}

.blue-btn:hover {
  background-color: #0069F6;
}

.white-btn {
  border: 3px solid #F4F4F4;
  background-color: #FCFCFC;
}

.white-btn:hover {
  border: 3px solid #000000;
}

.text-black {
  color: #000000;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.subtext {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  font-size: 19px;
  line-height: 23px;
  color: #4D4D4F;
  font-style: normal;
  font-family: 'Inter';
  letter-spacing: 1.2px;
}

.step-list {
  padding: 100px 30px;
  display: table;
}

.step-image {
  margin: 50px;
}

.step-title {
  margin-top: 50px;
  font-size: 19px;
  line-height: 23px;
  font-weight: 600;
  font-style: normal;
  font-family: 'Inter';
}

.step-list {
  display: table;
  clear: both;
}

.step {
  float: left;
  width: 25%;
}

.step .subtitle {
  margin-top: 50px;
}

@media screen and (max-width: 1680px) {
  .step {
    width: 100%;
    display: flex;
  }

  .step .step-title {
    width: 25%;
  }

  .step .subtext {
    width: 60%;
    align-items: center;
    display: flex;
    padding: 0;
  }
}

@media screen and (max-width: 1170px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .passive .col-6 {
    width: 100%;
  }

  .passive .col-6:last-of-type {
    text-align: center;
  }

  .passive .passive-image {
    width: 60%;
    margin-bottom: 100px;
  }
}